@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700&family=Young+Serif&display=swap');

:root{
    --main-color: #0000007c;
    --black: #13131a;
    --bg: #96958eb7;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .5s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;    
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6.5rem;
}

.header .navbar{
    margin:0 1.6rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a {
    margin-right: 1rem; /* Ajuste o valor conforme necessário para controlar o espaçamento */
    font-size: 2rem;
    color: #fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--border);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 50rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.header .search-form{
    width: 90%;
    right: 2rem;
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imagens/fundo.jpg);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(imagens/fundo.jpg);
    background-size: cover;
    background-position: center;
}




.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee ;
}

.sobre .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.sobre .row .image{
    flex: 1 1 45rem;
}

.sobre .row .image img{
    width: 100%;
}

.sobre .row .content{
    flex:1 1 45rem;
    padding: 2rem;
}

.sobre .row .content h3{
    font-size: 2rem;
    color: #fff;
}

.sobre .row .content p{
    font-size: 1.5rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
}

.menu .box-container .box:hover{
    background: #fff;
}

.menu .box-container .box:hover > *{
    color: var(--black);
}

.produtos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1.5rem;  
}

.produtos .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
    justify-content: space-between;
}

.produtos .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}

.produtos .box-container .box .icons a:hover{
    background: var(--main-color);
}

.produtos .box-container .box .image{
    padding: 2.5rem 0;
}

.produtos .box-container .box .image{
    height: 25rem 0;
}

.produtos .box-container .box .image img{
    height: 25rem;
}



.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produtos .box-container {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;
}

.produtos .box-container .image {
    flex: 1;
    padding: 0 1rem;
    text-align: center;
}

.produtos .box-container .image img {
    width: 100%;
    height: auto;
}

.produtos .box-container .box .content .stars{
    padding: 1.5rem;
}

.produtos .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.produtos .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}

.produtos .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Espaçamento entre elementos */
}

.contato {
    background: var(--black);
    padding: 4rem 0;
    color: #fff;
}

.contato .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contato .image {
    flex: 1 1 45%;
    padding: 2rem;
}

.contato .image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.contato .content {
    flex: 1 1 45%;
    padding: 2rem;
}

.contato h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.contato p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.contato form {
    margin: 0;
}

.contato .inputBox {
    display: block;
    margin-bottom: 1.5rem;
}

.contato .inputBox span {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.contato .inputBox input,
.contato .inputBox textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--black);
    border: var(--border);
    border-radius: 5px;
}

.contato .inputBox textarea {
    resize: none; 
    height: 150px;
}

.contato .btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease; 
}

.contato .btn:hover {
    background-color: #000; 
}


.contato .map {
    flex: 1 1 50%; 
    width: 100%;
    object-fit: cover;
    
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
    
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: 7rem 2rem;
    margin: 0.5rem;
    color: #fff;
    font-size: 2rem;
    border: var(--border);
    background-color: var(--bg);
    transition: background-color 0.2s;
    border-radius: 10; 
}

.footer .links a:hover {
    color: var(--black);
    background-color: #fff;
    border: var(--border);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}

/* Carrosel de Imagens */

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 20px; /* Adicione o margin desejado para separação do fundo */
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    
}



.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}



.navigation-auto {
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adicione o margin desejado para separação do fundo */
}

navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}









@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}

.leia-mais {
    background-color: #0074D9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s; /* Adiciona uma transição suave de 0.2 segundos */
}

.leia-mais:hover {
    background-color: #0056A0;
    transform: scale(1.1); /* Estica o botão em 10% ao passar o mouse */
}



